<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="page">
<head>
<title>APP</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport" />
	
<link rel="shortcut icon" href="/images/favicon.ico"
	th:href="@{/images/favicon.ico}" type="image/x-icon" />
	
	<link rel="stylesheet" th:href="@{/css/plugins/dataTables.bootstrap.min.css}"  />

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"href="../../css/bootstrap.min.css" />

<link href="../../css/font-awesome.min.css"
	th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />

<link th:href="@{/css/plugins/responsive.bootstrap.min.css}"
	href="../../css/plugins/responsive.bootstrap.min.css" rel="stylesheet" />
	
<script src="../../js/jquery-1.12.4.js"
	th:src="@{/js/jquery-1.12.4.js}"></script>

<script src="../../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

<script src="../../js/app.min.js" th:src="@{/js/app.min.js}"></script>

<script th:src="@{/js/plugin/jquery.dataTables.min.js}"></script>


</head>
<body class="hold-transition skin-blue-light sidebar-mini ">
	<script type="text/javascript">
function limpiarForm() {
$("#id").val("");
$("#descripcion").val("");
$("#juez").val("");
$("#materia").val("");
}
function nuevoRegistro() {
limpiarForm();
$("#botonNuevo").hide();
$("#codigo").focus();
}
</script>
	<div class="row">
		<div class="col-lg-4 col-md-4">
			<h4 class="page-header" th:text="#{empleado.form.titulo}">Detalles
				de Empleados</h4>
			<span th:text="${error}" style="color: red"> Ocurrió un error</span>
			<span th:text="${msgExito}" style="color: green">Registro
				Guardado</span>
			<ul>
				<li th:each=" err : ${errorList}" th:text="#{${err.defaultMessage}}"
					style="color: red">Debe ingresar cédula</li>
			</ul>
			<form th:action="@{/empleado/save}" th:object="${empleado}"
				method="post" role="form">
				
				<input type="hidden" th:field="*{id}" />
				
				
				<div class="form-group">
					<label for="persona" th:text="#{empleado.persona.lbl}"
						class="field-label">Persona:</label> <input type="text"
						th:field="*{persona}" maxlength="10" class="form-control" />
				</div>
				<div class="form-group">
					<label for="salario" th:text="#{empleado.salario.lbl}"
						class="field-label">Salario:</label> <input type="text"
						th:field="*{salario}" maxlength="60" class="form-control" />
				</div>
				
				<div class="form-group">
				    <label for="fechaIngreso" class="field-label">Fecha
					   Ingreso: </label> <input placeholder="dd/mm/aaaa" type="text" th:field="*{fechaIngreso}"
					   maxlength="10" class="form-control" />
			     </div>
              
				

				<!-- Inicio panel botones -->
				<div>
					<p>
						<button type="button" class="btn btn-default" id="botonNuevo"
							onclick="nuevoRegistro()">
							<i class="fa fa-plus-circle"></i> <span
								th:text="#{form.boton.crear}">Nuevo</span>
						</button>
					</p>
					<button type="submit" class="btn btn-default">
						<i class="fa fa-save"></i> <span th:text="#{form.boton.guardar}">Guardar</span>
					</button>
				</div>
			</form>
			<!-- Fin panel botones -->
		</div>

		<!-- fin columna 1: Formulario -->
		<div class="col-lg-8 col-md-8">
			<table class="table table-bordered table-hover table-striped display"
				id="empleadoDT">
				<thead>
					<tr>
						<th></th>
						<th>1</th>
						<th>2</th>
						<th>3</th>
						<th>4</th>
						<th>5</th>
						<th>5</th>
						<th>6</th>
						<th>7</th>
						<th>8</th>
						<th>9</th>
						<th>10</th>
						
					</tr>
				</thead>

			</table>
		</div>
		<script type="text/javascript">
		$(document).ready(function() {
				var config={};
				config['processing'] = true;
				config['sAjaxSource'] = "[[@{/empleado/json}]]";
				config['serverSide'] = true;
				config['columns']= [{'data':'id'}, {'data':'persona.id'}, {'data':'salario'}, {'data':'fechaIngreso'}];

				var dataTable = $('#empleadoDT').dataTable(config);
				//Ocultamos la primera columna (id)
				dataTable.fnSetColumnVis(0, false);
				$('#empleadoDT tbody').on('click', 'tr', function() {
				//Obtenemos el valor de la columna id
				var id = dataTable.fnGetData(this, 0);
				//Si id no es número, no hacemos nada
				if (isNaN(id)) {
				return;
				}
				window.location.href = "/sigj/empleado/edit/" + id;
				});
		});
</script>
	</div>
</body>
</html>
