<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="formulario">

<body class="hold-transition skin-blue-light sidebar-mini ">
	<div th:fragment="form">
		<script type="text/javascript">
			function limpiarForm() {
				$("#id").val("");
				$("#salario").val("");
				$("#fechaIngreso").val("");
				$("#persona_id").val("");
				$("#persona_nombre").val("");
				$("#persona_apellido").val("");
				$("#persona_cedula").val("");
			}
			function nuevoRegistro() {
				limpiarForm();
				$("#botonNuevo").hide();
				$("#salario").focus();
			}
		</script>
		<h4 class="page-header" th:text="#{empleado.form.titulo}">Detalles
			de Empleados</h4>
		<span th:text="${error}" style="color: red"> Ocurrió un error</span> <!-- <span
			th:text="${msgExito}" style="color: green">Registro Guardado</span> -->
		<ul>
			<li th:each=" err : ${errorList}" th:text="#{${err.defaultMessage}}"
				style="color: red">Debe ingresar código</li>
		</ul>
		<form th:action="@{/empleado/accion2}" th:object="${empleado}"
			method="post" role="form">
			<input type="hidden" th:field="*{id}" />
			<div class="form-group hidden-xs col-sm-12">
				<label for="salario" th:text="#{empleado.salario.lbl}"
					class="field-label col-sm-7">Salario</label> <input type="text"
					name="salario" id="salario" maxlength="100" class="form-control col-sm-6 numbers-only"
					autofocus="autofocus" />
			</div>
			
			<div class="form-group col-xs-12 col-sm-12">
						<label for="fecha" th:text="#{empleado.fechaIngreso.lbl}"
						class="field-label col-xs-7 col-sm-7">Fecha de Ingreso:</label>
						<div class="input-group date" style="width:100%;">
							<div class="input-group-addon">
								<i class="fa fa-calendar"></i>
							</div>
							<input type="text" class="form-control pull-right col-sm-6 fecha"
								th:field="*{fechaIngreso}" name="fechaIngreso" id="fechaIngreso">
						</div>
						
			</div>
			
			
			<input type="hidden" class="object_id" th:field="*{persona.id}" />
			<!-- Inicio panel botones -->
			<div class="col-sm-12">
				<div class="col-sm-9" style="padding-right:0px;">
					<div th:replace="botones::footerModal"></div>
				</div>
				<div class="col-sm-3 form-group modal-footer" style="padding-left:0px;">
					<button type="button" class="btn btn-warning" name="limpiar" id="limpiar"
						value="limpiar" onclick="limpiarForm()">Limpiar</button>
				</div>
			</div>
		</form>
		<!-- Fin panel botones -->
	</div>
</body>

</html>
