<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="starter">

<body>

	<div class="row" th:fragment="contenido">

		<div class="col-xs-12 col-sm-12">
			<div class="box box-solid box-primary">
				<div class="box-header">
					<h3>Total de Ingresos</h3>
				</div>
				<div class="box-body">
				
					<div class="form-group" style="margin-left:5px;">
							<!-- <label>Seleccione la Fecha de la planilla:</label> -->
							
							<!-- /.input group -->
							<table
										class="table table-bordered table-hover table-striped display"
										id="ingresoEgresoFacturaDT">
										<thead>
											<tr>
												<th>Fecha</th>
												<th th:if="${isIngreso}">Ingreso</th>
												<th th:if="${isEgreso}">Egreso</th>
												<th>Observación</th>
											</tr>
										</thead>
										<tbody id="table-body">
	
											<tr th:each="mov : ${movimiento_expediente}">
												<td class="hidden"></td>
												<td th:text="${mov.movimiento.fecha}"></td>
												<td th:if="${isIngreso}" th:text="${#numbers.formatInteger(mov.movimiento.ingreso,3,'POINT')} + 'GS '"></td>
												<td th:if="${isEgreso}" th:text="${#numbers.formatInteger(mov.movimiento.egreso,3,'POINT')} + 'GS'"></td>
												<td th:text="${mov.movimiento.descripcion}"></td>
											</tr>
										</tbody>
	
									</table>
	               			
						</div>
				</div>
				    
					
						
					<script type="text/javascript">
        $(function () {
        	 $('#datepicker').datepicker({       
                 autoclose: true,
                 format: 'mm/yyyy', 
                 viewMode: "years",
                 language: 'es',   
                 minViewMode: "months",  
                 monthNames:["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                 monthNamesShort:["Ene", "Feb", "Mar", "Abr", "May", "Jun","Jul", "Ago", "Sep", "Oct", "Nov", "Dic"]
              });
             
        });
        $(document).ready(function() {
       
    	$('#ingresoEgresoFacturaDT').dataTable(
				{
					"bScrollCollapse" : true,
					"responsive" : true,
					'language' : {
						"sProcessing" : "Procesando...",
						"sLengthMenu" : "Mostrar _MENU_ registros",
						"sZeroRecords" : "No se encontraron resultados",
						"sEmptyTable" : "No posee Actuaciones",
						"sInfo" : "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
						"sInfoEmpty" : "Mostrando _MAX_ registros",
						"sInfoFiltered" : " ",
						"sInfoPostFix" : "",
						"sSearch" : "Buscar:",
						"sUrl" : "",
						"sInfoThousands" : ",",
						"sLoadingRecords" : "Cargando...",
						"oPaginate" : {
							"sFirst" : "Primero",
							"sLast" : "Último",
							"sNext" : "Siguiente",
							"sPrevious" : "Anterior"
						},
						"oAria" : {
							"sSortAscending" : ": Activar para ordenar la columna de manera ascendente",
							"sSortDescending" : ": Activar para ordenar la columna de manera descendente"
						}
					}
				});
        });
        
    </script>

					<!--  <div>
                                <label>Introducir año de la planilla</label>
                                <input type="text" name="anho" id="anho">
                           </div>
				           <div>
				                <label>Introducir mes de la planilla</label>
				                <input type="text" name="mes" id="mes">
				           </div>-->
					
					
					<script type="text/javascript">
       				
          
       $("#btn-planilla").on('click',function(e){
           console.log("entro en el onclick");
            var fecha_rec = $('input[name=fecha]').val();
            
       $.ajax({
           type: "GET",
           url: "planilla_salario/validar_fecha",
           data: { 
               fecha:fecha_rec
           }
       }).done(function(data){
           console.log("entro en el ajax");
           $("#planilla_body").load();
           $("#planilla_body").html(data);
           if($("#error-vacio").val() == "no"){
        	   $("#btn-informe").removeClass("hidden"); 
           }else{
        	   $("#btn-informe").addClass("hidden");
           }
           
       });
       });
      
       </script>
				
				
			</div>
		</div>

		

	</div>
       

</body>
</html>
