
<div class="col-xs-12 col-sm-12 no-padding" style="margin-top:10px;">
    <table id="planilla_bodyDT" class="no-padding">
    <thead>
        <th>Cedula</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Salario Base</th>
        <th>Ingreso Total</th>
        <th>Egreso Total</th>
        <th>Observación</th>
        <th>Salario Neto</th>
        </thead>
        <tbody id="table-body">
       <!--  <tr><td th:text="${planilla_salario}"></td></tr>--> 
        
        <tr th:each="ps : ${planilla_salario}">
            <td th:text="${ps.empleado.persona.cedula_ruc}"></td>
            <!-- <td th:text="#{ps.empleado.persona.cedula_ruc}"></td> -->
            <td th:text="${ps.empleado.persona.nombre_razonSocial}"></td>
            <td th:text="${ps.empleado.persona.apellido}"></td>
            <td th:text="${ps.empleado.salario}"></td>
            <td th:text="${ps.ingresoTotal}"></td>
            <td th:text="${ps.egresoTotal}"></td>
            <td th:text="${ps.observacion}"></td>
            <td th:text="${ps.montoCobro}"></td>
        </tr>
        </tbody>
    </table>
    <!-- <script type="text/javascript">
		 $(document).ready(function() {
		    crearDataTableEsp("planilla_bodyDT", "[[@{/planilla_bodyDT/json}]]", "[[${columnasStrPersona}]]", "empleado");
		    
		    
		 });
	</script> -->
	<script type="text/javascript">
	$(document).ready(function() {
	    $('#planilla_bodyDT').dataTable( {
	        "sScrollX": "100%",
	        "sScrollXInner": "110%",
	        "bScrollCollapse": true
	    } );
	} );
	</script>
</div>
