<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="starter">

<body>

	<div class="row" th:fragment="contenido">

		<div class="col-xs-12 col-sm-12 no-padding body-style">
			<div class="box box-solid box-primary box-pc">
				<div class="box-header">
					<h3>Listado de Planillas</h3>
				</div>
				<div class="box-body"></div>
				    
					<div class="form-group" style="margin-left:5px;">
						<label>Seleccione la Fecha de la planilla:</label>
						<div class="input-group date" style="width:50%;">
							<div class="input-group-addon">
								<i class="fa fa-calendar"></i>
							</div>
							<input type="text" class="form-control pull-right"
								name="fecha" id="datepicker">
						</div>
						<!-- /.input group -->
						<div id="planilla_body">
                    
               			</div>
               			
					</div>
						
					<script type="text/javascript">
        $(function () {
        	 $('#datepicker').datepicker({       
                 autoclose: true,
                 format: 'mm/yyyy', 
                 viewMode: "years",
                 language: 'es',   
                 minViewMode: "months",  
                 monthNames:["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                 monthNamesShort:["Ene", "Feb", "Mar", "Abr", "May", "Jun","Jul", "Ago", "Sep", "Oct", "Nov", "Dic"]
              });
             
        });
       
    </script>

					<!--  <div>
                                <label>Introducir año de la planilla</label>
                                <input type="text" name="anho" id="anho">
                           </div>
				           <div>
				                <label>Introducir mes de la planilla</label>
				                <input type="text" name="mes" id="mes">
				           </div>-->
					<div class="col-xs-12 col-sm-12 col-sm-offset-3">
						<button id="btn-planilla" type="button" class="btn btn-primary col-xs-5 col-sm-3"
						style="padding:5px; margin:10px;">Mostrar Planilla</button>
						<button id="btn-informe" type="button" class="btn btn-primary col-xs-5 col-sm-3 hidden" target='_blank' 
						style="padding:5px; margin:10px;">Generar Planilla</button>
						 <a id="btn-planillaPdf" class="accion-2 a-print hidden" data-toggle="tooltip" data-placement="top" title="" data-original-title="Imprimir" target='_blank'>
						 buttoooon</a>
						</div>
					
					<script type="text/javascript">
       				
          
       $("#btn-planilla").on('click',function(e){
           console.log("entro en el onclick");
            var fecha_rec = $('input[name=fecha]').val();
            
       $.ajax({
           type: "GET",
           url: "planilla_salario/validar_fecha",
           data: { 
               fecha:fecha_rec
           }
       }).done(function(data){
           console.log("entro en el ajax");
           $("#planilla_body").load();
           $("#planilla_body").html(data);
           if($("#error-vacio").val() == "no"){
        	   $("#btn-informe").removeClass("hidden"); 
           }else{
        	   $("#btn-informe").addClass("hidden");
           }
           
       });
       });
      
       </script>
				
				
			</div>
		</div>

		

	</div>
       

</body>
</html>
