<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="starter">

<body>
	<div class="row" th:fragment="contenido">
		<div class="col-xs-12" th:if="${not #lists.isEmpty(ultimosDiezExpediente) or not #lists.isEmpty(expedienteSinVencer)}">
			<div class="box box-solid box-primary">
				<div class="box-header">
					<h3>Expedientes con últimos movimientos</h3>
				</div>
				<div class="box-body" style="width: 99%; padding-left: 15px;">
					
					
					<div class="col-sm-12" style="background-color:white; border-top-color:#3c8dbc;border-bottom-color:#3c8dbc;border-bottom-style:solid;border-top-style:solid;"
					th:if="${not #lists.isEmpty(ultimosDiezExpediente)}" th:each="ex : ${ultimosDiezExpediente}">
					
						<div class="col-sm-9">
						<div class="box-header with-border">
							<h3 class="box-title" th:text="${ex.expediente.caratula}" style="font-weight: 700;font-size: 20px;"></h3><br><br>
							<h3 class="box-title" th:text=" #{expediente.inicio.nroExpediente.lbl}+' '+${ex.expediente.nroExpediente}"></h3> 
							 
						</div>
						<!-- /.box-header -->
						<div class="box-body">
							<input type="hidden" id="id-expediente" th:value="${ex.expediente.id}" > 
							<div class="col-sm-6">
								<h4 th:text="#{expediente.folio.lbl}+' '+ ${ex.expediente.folio}"></h4>
								 
							</div>
							<div class="col-sm-6">
								<label th:text="#{expediente.anho.lbl}" class="field-label section-02">Año:</label>
								<input th:value="${ex.expediente.anho}"
										class="field-label section-02 estilo-input col-sm-7" style="float:right;" disabled>
							</div>
							<div class="col-sm-6">
								<label th:text="#{expediente.juez.lbl}" class="field-label section-02">Juez:</label>
								<input th:value="${ex.expediente.despachoActual.juez}"
										class="field-label section-02 estilo-input col-sm-7" style="float:right;" disabled>
								
							</div>
							<div class="col-sm-6">
								<label th:text="#{expediente.estadoExterno.lbl}" class="field-label section-02">Año:</label>
								<input th:value="${ex.expediente.estadoExterno.descripcion}"
										class="field-label section-02 estilo-input col-sm-7" style="float:right;" disabled>
							</div>
							<div class="col-sm-6">
								<label th:text="#{expediente.tipoActuacion.fechaVencimiento.lbl}" class="field-label section-02">Año:</label>
								<input th:value="${#dates.format(ex.expediente.fechaUltimaActuacion, 'dd-MMM-yyyy / HH:mm')}"
										class="field-label section-02 estilo-input col-sm-7" style="float:right;" disabled>
							</div>
							
							<div class="col-sm-6">
								<label th:text="#{expediente.tipoActuacion.descripcion.lbl}" class="field-label section-02">Año:</label>
								<input th:value="${ex.expediente.tipoUltimaActuacion}"
										class="field-label section-02 estilo-input col-sm-7" style="float:right;" disabled>
								<a th:if="${ex.renderDocumento != null}" target="_blank" th:href="'data:image/jpeg;base64,'+ ${ex.renderDocumento}" data-toggle="tooltip" data-placement="top" title="" data-original-title="Ver">
	            						<i class="fa fa-file-image-o fa-2x" aria-hidden="true"></i>
	            					</a>
							</div>
							
							<div class="col-sm-6" style="float:right;">
								<button class="btn btn-success" 
								th:onclick="'agregar_actuacion(\'' + ${ex.expediente.id} + '\');'">
									<i class="glyphicon glyphicon-plus"></i>Agregar Actuación
								</button>
							</div>
							<div class="col-sm-6" style="float:right;">
							<a th:href="@{/expediente/hojear-expediente/{id}(id=${ex.expediente.id})}"  target='_blank'><button class="btn btn-success" >
								<i class="glyphicon glyphicon-plus"></i>Ver Expediente Digital
							</button></a>
							
							</div>
						</div>
						<!-- /.box-body -->
					</div>
					<!-- /.box -->
					<div class="col-sm-3">
						<!-- <th:block th:if="${expedienteActuacionBean} != null" th:each="exb : ${expedienteActuacionBean}">
							<th:block th:if="${exb.expediente.id} == ${ex.expediente.id} AND ${exb.diaVencimiento} <= 3">		 -->		
								<div class="alert alert-warning">
									  <strong style="font-size: 50px; color: white;"><i class="fa fa-exclamation-triangle" style="padding-right:10px;" aria-hidden="true"></i>Atención: </strong>
									  <br><span style="font-size: 24px;color: black;"> La última actuación presentada vencerá dentro de  
									  <span th:if="${ex.diaVencimiento > 1}" th:text="${ex.diaVencimiento + ' días'}"></span>
									  <span th:if="${ex.diaVencimiento <= 1}" th:text="${ex.diaVencimiento + ' día'}"></span>
									</span>
								</div>
							<!-- </th:block>
						</th:block> -->
					</div>
				</div>
				
				<!-- Seccion de expedientes que no vencen en los proximos 3 dias -->
				<div class="col-sm-12" style="background-color:white; border-top-color:#3c8dbc;border-bottom-color:#3c8dbc;border-bottom-style:solid;border-top-style:solid;"
					th:if="${not #lists.isEmpty(expedienteSinVencer)}" th:each="ex : ${expedienteSinVencer}">
					
						<div class="col-sm-9">
						<div class="box-header with-border">
							<h3 class="box-title" th:text=" #{expediente.inicio.nroExpediente.lbl}+' '+${ex.expediente.nroExpediente}"></h3>
						</div>
						<!-- /.box-header -->
						<div class="box-body">
							<input type="hidden" id="id-expediente" th:value="${ex.expediente.id}" >
							<div class="col-sm-6">
								<label th:text="#{expediente.folio.lbl}" class="field-label section-02">Año:</label>
								<input th:value="${ex.expediente.folio}"
										class="field-label section-02 estilo-input col-sm-7" style="float:right;" disabled>
								 
							</div>
							<div class="col-sm-6">
								<label th:text="#{expediente.anho.lbl}" class="field-label section-02">Año:</label>
								<input th:value="${ex.expediente.anho}"
										class="field-label section-02 estilo-input col-sm-7" style="float:right;" disabled>
								
							</div>
							<div class="col-sm-6">
								<label th:text="#{expediente.juez.lbl}" class="field-label section-02">Año:</label>
								<input th:value="${ex.expediente.despachoActual.juez}"
										class="field-label section-02 estilo-input col-sm-7" style="float:right;" disabled>
								
							</div>
							<div class="col-sm-6">
								<label th:text="#{expediente.estadoExterno.lbl}" class="field-label section-02">Año:</label>
								<input th:value="${ex.expediente.estadoExterno.descripcion}"
										class="field-label section-02 estilo-input col-sm-7" style="float:right;" disabled>
							</div>
							<div class="col-sm-6">
								<label th:text="#{expediente.tipoActuacion.fechaVencimiento.lbl}" class="field-label section-02">Año:</label>
								<input th:value="${#dates.format(ex.expediente.fechaUltimaActuacion, 'dd-MMM-yyyy / HH:mm')}"
										class="field-label section-02 estilo-input col-sm-7" style="float:right;" disabled>
								
							</div>
							
							
							<div class="col-sm-6">
								<label th:text="#{expediente.tipoActuacion.descripcion.lbl}" class="field-label section-02">Año:</label>
								<input th:value="${ex.expediente.tipoUltimaActuacion}"
										class="field-label section-02 estilo-input col-sm-7" style="float:right;" disabled>
								
            					<a th:if="${ex.renderDocumento != null}" target="_blank" th:href="'data:image/jpeg;base64,'+ ${ex.renderDocumento}" data-toggle="tooltip" data-placement="top" title="" data-original-title="Ver">
	            						<i class="fa fa-file-image-o fa-2x" aria-hidden="true"></i>
	            					</a>
								 
							</div>
							<div class="col-sm-6" style="float:right;">
							<button class="btn btn-success" 
							th:onclick="'agregar_actuacion(\'' + ${ex.expediente.id} + '\');'">
								<i class="glyphicon glyphicon-plus"></i>Agregar Actuación
							</button>
							</div>
							<div class="col-sm-6" style="float:right;">
							<a th:href="@{/expediente/hojear-expediente/{id}(id=${ex.expediente.id})}"  target='_blank'><button class="btn btn-success" >
								<i class="glyphicon glyphicon-plus"></i>Ver Expediente Digital
							</button></a>
							
							</div>
						</div>
						<!-- /.box-body -->
					</div>
					<!-- /.box -->

				</div>
				
				
				
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>
	</div>
</body>

</html>