/*!
 * Estilos propios del proyecto SIGJ
 */
 
 .alinear{
    float:right;
 }
 .no-padding{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.btn-primary{
	    background-color: #0000ff;
	    border-color: #0000ff;
}
.select2{
	width:100% !important;
}
.btn-success{
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 5px;
}
#registrar-movil{
		background-color: blue;
		color: white;
		height: 50px;
		padding-left: 10px;
		padding-top: 10px;
}
.modal-header{
	display: none;
}

@media screen and (min-device-width: 768px){
	.th-pc{
		width: 40px !important;
		padding-left: 15px !important;
	}
	.td-body-movil {
		width: 40px !important;
		padding-left: 15px !important;
	}
	.sorting_asc{
		display:none;
	}
	.sorting_1{
		display:none;
	}
	.btn-movil{
		display:none;
	}
	.dataTables_length{
		margin-left: 5px;
	}
}
/*Para movil*/
@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
	table.dataTable thead .sorting_asc{
		display:none;
	}
	table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
		display:none;
	}
	table.dataTable.display tbody tr.even>.sorting_1, table.dataTable.order-column.stripe tbody tr.even>.sorting_1{
		display:none;
	}
	.sorting_1{
		display:none;
	}
	.body-movil{
		font-size: 12px;
	}
	.table-esp{
		width: 100% !important;
		margin-top: 10px;
	}
	.btn-movil{
		display:block;
	}
	.modal-body{
		padding: 0px;
	}
	.modal-title{
		display: none;
	}
	.header-movil{
		background-color: blue;
		color: white;
		height: 50px;
		padding-left: 10px;
		padding-top: 10px;
		
	}
	.modal-header{
		display: none;
	}
	#registrar-movil{
		background-color: blue;
		color: white;
		height: 50px;
		padding-left: 10px;
		padding-top: 10px;
	}
}
 