<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="starter">
<link rel="stylesheet"
	th:href="@{/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css}">

<body>
	<div class="row" th:fragment="contenido">
		<div class="col-xs-12">
			<div class="box box-solid box-primary">
				<div class="box-header">
					<h3>Listado de Abogados</h3>
				</div>
				<div class="box-body">
					<button class="btn btn-success" id="botonAgregar"
						onclick="agregar()">
						<i class="glyphicon glyphicon-plus"></i> Nuevo Agobado
					</button>
					<br> <br>
					<!-- <table
								class="gdisplay responsive nowrap"
								id="procesoDT"> -->
					<table id="abogadoDT" class="display nowrap" cellspacing="0"
						width="100%">
						<thead>
							<tr>
								<th th:each="col : ${columnas}"
									th:text="#{'proceso.' + ${col} + '.header'}">CÓDIGO</th>
								<th>Acción</th>
							</tr>
						</thead>
					</table>
					<script type="text/javascript">
						$(document).ready(function() {
					    	crearDataTableEsp("empleadoDT", "[[@{/empleado/json}]]", "[[${columnasStrPersona}]]", "empleado");
						});													 
			 		</script>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>

		<div id="menu2" class="tab-pane fade">
			<div class="box box-solid box-primary">
				<div class="box-header">
					<h3>Listado de Despachos</h3>
				</div>
				<div class="box-body">

					<table
						class="table table-bordered table-hover table-striped display"
						id="abogadoDT">
						<thead>
							<tr>
								<th th:each=" col : ${columnas}" th:text="${col}">colum1</th>
							</tr>
						</thead>
					</table>
					<script type="text/javascript">
							 $(document).ready(function() {
							    crearDataTable("abogadoDT", "[[@{/abogado/json}]]", "[[${columnasStr}]]", "[[@{/abogado/edit/}]]");
							 });
			 			</script>
				</div>
			</div>
		</div>
	</div>
	</div>
	<script>
				$(document).ready(function(){
				    $(".nav-tabs a").click(function(){
				        $(this).tab('show');
				    });
				});
			</script>

	</div>

	<script
		th:src="@{/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js}"
		src="../plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
</body>
</html>
