<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="formulario">

<body class="hold-transition skin-blue-light sidebar-mini ">
	
	<div th:fragment="form">
		
		<script type="text/javascript">
			function limpiarForm() {
				$("#id").val("");
				$("#domicilioActual").val("");
				$("#domicilioLaboral").val("");
				$("#empleado_id").val("");
			}
			function nuevoRegistro() {
				limpiarForm();
				$("botonNuevo").hide();
				$("descripcion").focus();
			}
		</script>
		
		<div class="row form-class-modal"
			style="margin-right: -404; padding-top: 15px; margin-right: 0px; margin-left: 0px;">
			
			<form th:action="@{/abogado/accion}" th:object="${abogado}"
				method="post" role="form">
				
				<input type="hidden" th:field="*{id}" />
				
				<div class="modal-movil hidden-xs col-sm-12">
					
					<div class="form-group col-xs-12 col-sm-12">
						<label for="domicilioActual"
							th:text="#{abogado.domicilioActual.lbl}"
							class="field-label col-xs-7 col-sm-7">Domicilio Actual:</label>
						<input type="text" th:field="*{domicilioActual}" maxlength="100"
							class="form-control col-xs-7 col-sm-6" autofocus="autofocus" />
					</div>
					
					<!--REALIZAR CAMBIOS PARA EMPLEADO Y NO PERSONA  -->
					<div class="form-group  col-xs-12 col-sm-12">
						<label for="domicilioLaboral"
							th:text="#{abogado.domicilioLaboral.lbl}"
							class="field-label col-xs-7 col-sm-7">Domicilio Laboral:</label>
						<input type="text" th:field="*{domicilioLaboral}" maxlength="100"
							class="form-control col-xs-6 col-sm-6" />
					</div>

				</div>
				<!-- seccion empleado -->
				<input type="hidden" class="object_id" th:field="*{empleado.id}" />
				<!-- Inicio panel botones -->
				<div class="col-sm-12">
				<div class="col-sm-9" style="padding-right:0px;">
					<div th:replace="botones::footerModal"></div>
				</div>
				<div class="col-sm-3 form-group modal-footer" style="padding-left:0px;">
					<button type="button" class="btn btn-warning" name="limpiar" id="limpiar"
						value="limpiar" onclick="limpiarForm()">Limpiar</button>
				</div>
			</div>
			</form>
		</div>
		<!-- Fin panel botones -->

		<script type="text/javascript">
			$(function() {
				$(".tipoAbogado").select2();
			});
		</script>
	</div>
</body>
</html>
