<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="formulario">

<body class="hold-transition skin-blue-light sidebar-mini ">
	<div th:fragment="form">
		<script type="text/javascript">
			function limpiarForm() {
				$("#id").val("");
				$("#descripcion").val("");
				$("#juez").val("");
				$("#materia1").val("");
			}
			function nuevoRegistro() {
				limpiarForm();
				$("#botonNuevo").hide();
				$("#descripcion").focus();
			}
		</script>
		<h4 class="page-header" th:text="#{abogado.form.titulo}">Detalles
			de Abogados</h4>

		<span th:text="${error}" style="color: red"> Ocurrió un error </span>
		<span  style="color: green">
			<!--  <div class="alert alert-success" role="alert" th:text="${msgExito}">
				<strong>Well done!</strong> You successfully read this important
				alert message.
			</div>
			<div class="alert alert-warning alert-dismissable">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong>¡Cuidado!</strong> Es muy importante que leas este mensaje
				de alerta.
			</div>-->
			
		</span>
		<ul>
			<li th:each=" err : ${errorList}" th:text="#{${err.defaultMessage}}"
				style="color: red">Debe ingresar codigo</li>
		</ul>

		<form th:action="@{/abogado/accion}" th:object="${abogado}"
			method="post" role="form">

			<input type="hidden" th:field="*{id}" />


			<div class="form-group">
				<label for="tipoAbogado" th:text="#{abogado.tipoAbogado.lbl}"
					class="field-label">Tipo de Abogado</label> <select
					th:field="*{tipoAbogado}"
					class="form-control form-group tipoAbogado">
					<option th:each=" tip : ${tipoAbogadoList}" th:value="${tipoAbogado.id}"
						th:text="${tipoAbogado.descripcion}">Apoderado</option>
				</select>
			</div>



			
			<div class="form-group hidden-xs col-sm-12">
				<label for="domicilioActual" th:text="#{abogado.domicilioActual.lbl}" class="field-label col-sm-7">
				Domicilio Actual:</label>
				<input type="text" th:field="*{domicilioActual}" maxlength="100"
					class="form-control col-sm-6" autofocus="autofocus" />

			</div>
			<!--REALIZAR CAMBIOS PARA EMPLEADO Y NO PERSONA  -->
			<div class="form-group">
				<label for="domicilioLaboral"
					th:text="#{abogado.domicilioLaboral.lbl}" class="field-label">Domicilio
					Laboral</label> <input type="text" th:field="*{domicilioLaboral}"
					maxlength="100" class="form-control" />

			</div>
			<!-- seccion empleado -->
			<input type="hidden" th:field="*{empleado.id}" />

			<!-- Inicio panel botones -->
			<div th:replace="botones::form_botones"></div>
		</form>
		<!-- Fin panel botones -->
		
		<script type="text/javascript">

			$(function () {
				$(".tipoAbogado").select2();});			 
		</script>

	</div>
</body>
</html>
