
								<h3 style="color: blue; text-align: center;">Lista de
									Actuaciones</h3>
									<table
										class="table table-bordered table-hover table-striped display"
										id="movimientoActuacionDT">
										<thead>
											<tr>
												<th class="hidden">Id</th>
												<th>Observación</th>
												<th>Fecha Presentación</th>
												<th>Fecha Vencimiento</th>
												<th>Tipo de Actuación</th>
												<th>Plazo</th>
												<th></th>
											</tr>
										</thead>
										<tbody id="table-body">
											<!--  <tr><td th:text="${planilla_salario}"></td></tr>-->
	
											<tr th:each="ma : ${movimiento_actuacion}">
												<td th:text="${ma.id}" class="hidden"></td>
												<td th:text="${ma.observacion}"></td>
												<td th:text="${#dates.format(ma.fechaPresentacion, 'dd-MMM-yyyy / HH:mm')}"></td>
												<td th:text="${#dates.format(ma.fechaVencimiento, 'dd-MMM-yyyy / HH:mm')}"></td>
												<td th:text="${ma.tipoActuacion.descripcion}"></td>
												<td th:text="${ma.tipoActuacion.plazo + 'dias'}"></td>
												<td> <a  th:if="${ma.documento != null}" th:href="'data:image/jpeg;base64,'+ ${ma.renderDocumento}" target='_blank' data-toggle="tooltip" data-placement="top" title="" data-original-title="Ver"><i class="fa fa-file-image-o fa-2x" aria-hidden="true"></i></a></td>
											</tr>
										</tbody>
	
									</table>
								<script type="text/javascript">
										$(document)
												.ready(
														function() {
												 			calcularFecha();
															$(".nav-tabs a").click(function(){
														        $(this).tab('show');
														    });
															$('#movimientoActuacionDT').dataTable(
																			{
																				"bScrollCollapse" : true,
																				"responsive" : true,
																				'language' : {
																					"sProcessing" : "Procesando...",
																					"sLengthMenu" : "Mostrar _MENU_ registros",
																					"sZeroRecords" : "No se encontraron resultados",
																					"sEmptyTable" : "No posee Actuaciones",
																					"sInfo" : "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
																					"sInfoEmpty" : "Mostrando _MAX_ registros",
																					"sInfoFiltered" : " ",
																					"sInfoPostFix" : "",
																					"sSearch" : "Buscar:",
																					"sUrl" : "",
																					"sInfoThousands" : ",",
																					"sLoadingRecords" : "Cargando...",
																					"oPaginate" : {
																						"sFirst" : "Primero",
																						"sLast" : "Último",
																						"sNext" : "Siguiente",
																						"sPrevious" : "Anterior"
																					},
																					"oAria" : {
																						"sSortAscending" : ": Activar para ordenar la columna de manera ascendente",
																						"sSortDescending" : ": Activar para ordenar la columna de manera descendente"
																					}
																				}
																			});
															createFileInput('file-es');
														});
									</script>
													<!--	</div>
 </div>
							/.box
						</div>
				/.box-body
			</div>
			/.box
		</div>
 -->