<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="formulario">

<body class="hold-transition skin-blue-light sidebar-mini ">
	<div class="row form-class-modal" style="margin-right: -404; padding-top: 15px; margin-right: 0px; margin-left: 0px;" th:fragment="form">
		<form th:action="@{/cliente/accion2}" th:object="${cliente}"
			method="post" role="form">
			
			<input type="hidden" th:field="*{id}" />
			<div class="modal-movil hidden-xs col-sm-12">
				<div class="form-group col-xs-12 col-sm-12">
					<label for="domicilioActual"
						th:text="#{abogado.domicilioActual.lbl}"
						class="field-label col-xs-7 col-sm-7"> Domicilio Actual:</label> <input
						type="text" th:field="*{domicilioActual}" maxlength="100"
						class="form-control col-xs-7 col-sm-6" autofocus="autofocus" />
				</div>
				
				<div class="form-group  col-xs-12 col-sm-12">
					<label for="domicilioLaboral"
						th:text="#{abogado.domicilioLaboral.lbl}"
						class="field-label col-xs-7 col-sm-7">Domicilio Laboral:</label> <input
						type="text" th:field="*{domicilioLaboral}" maxlength="100"
						class="form-control col-xs-6 col-sm-6" />
				</div>

				<div class="form-group col-xs-12 col-sm-12">
					<label for="domicilioActual"
						th:text="#{abogado.domicilioProcesal.lbl}"
						class="field-label col-xs-7 col-sm-7"> Domicilio Procesal:</label> <input
						type="text" th:field="*{domicilioProcesal}" maxlength="100"
						class="form-control col-xs-7 col-sm-6"/>
				</div>

			</div>
			<!-- seccion empleado -->
			<input type="hidden" class="object_id" th:field="*{persona.id}" />
			<!-- Inicio panel botones -->
			<div th:replace="botones::footerModal">aqui van los botones</div>
		</form>
		<!-- Fin panel botones -->
		<script type="text/javascript">
		
		$(function () {
		    //Initialize Select2 Elements
			$(".persona").select2({
					placeholder: "Seleccione una persona...",
					language: {
						noResults:  function (params) {
						      return "No existen registros.";
					    }
					}
			});
		});		
		</script>
	</div>
</body>

</html>