
<div class="col-xs-12 col-sm-12 no-padding" style="margin-top:10px;">
    <div class="col-lg-12 col-sm-12 col-xs-12 box" style="padding: 21px;">
							<div class="col-sm-12" >
							
							<label>Total Ingreso:</label>
								<input th:if="${total_ingreso <= 0}" id="total_ingreso" name="total_ingreso" disabled class="estilo-input"  th:value="${total_ingreso} + ' GS.'" 
								style="margin-left:42px;"/>
								<input th:if="${total_ingreso > 0}" th:value="${#numbers.formatInteger(total_ingreso,3,'POINT')} + ' '+ 'GS.'" id="total_ingreso" name="total_ingreso" disabled
								style="margin-left:42px;" class="estilo-input"/>
								<a  th:if="${total_ingreso != null and total_ingreso != 0}" th:href="'/sigj/movimiento/buscar-movimiento/'+${expediente_id}+'/I'" target='_blank' data-toggle="tooltip" data-placement="top" title="" data-original-title="Ver detalle"
								style="padding-left: 10px;">Ver Detalle</a>
								
								
								
							</div>
							<div class="col-sm-12" style="margin-top:10px;">
								<label>Total Egreso:</label>
								<input th:if="${total_egreso > 0}" id="total_egreso" class="estilo-input" name="total_egreso" disabled th:value="${#numbers.formatInteger(total_egreso,3,'POINT')} + ' '+ 'GS.'" style="margin-left:47px;"/>
								<input th:if="${total_egreso <= 0}" id="total_egreso" class="estilo-input" name="total_egreso" disabled th:value="${total_egreso} + ' '+ 'GS.'" style="margin-left:47px;"/>
								<a  th:if="${total_egreso != null and total_egreso != 0}" th:href="'/sigj/movimiento/buscar-movimiento/'+${expediente_id}+'/E'" target='_blank' data-toggle="tooltip" data-placement="top" title="" data-original-title="Ver detalle"
								style="padding-left: 10px;">Ver Detalle</a>
								
							</div>
							
							<div class="col-sm-12" style="margin-top:10px;">
								<label>Total de Facturación:</label>
								<input id="total_factura" name="total_factura" class="estilo-input" disabled th:if="${total_factura !=null and total_factura != 0}" th:value="${#numbers.formatInteger(total_factura,3,'POINT')} + ' '+ 'GS.'"/>
								<a  th:if="${total_factura != null and total_factura != 0}" th:href="'/sigj/movimiento/buscar-movimiento/'+${expediente_id}" target='_blank' data-toggle="tooltip" data-placement="top" title="" data-original-title="Ver detalle"
								style="padding-left: 10px;">Ver Detalle</a>
							</div>
	</div>
    
    <table id="expediente-table" class="table table-bordered table-hover table-striped display" style="border: 2px solid #ddd;">
    <thead >
    	<th class="hidden">Id</th>
        <th class="th-pc">Empleado</th>
        <th class="th-pc">Nº Expediente</th>
        <th class="th-pc">Ingreso</th>
        <th class="th-pc">Egreso</th>
        <th class="th-pc">Observación</th>
         <th class="th-pc">Fecha</th>
        </thead>
        <tbody id="table-body" style="border-collapse:separate;">
       <!--  <tr><td th:text="${planilla_salario}"></td></tr>--> 
        
        <tr th:each="ps : ${expedienteList}" style="background-color:#ddd;">
        	<td th:text="${ps.id}" class="hidden"></td>
        	<td th:text="${ps.movimiento.empleado.persona.nombre_razonSocial + ' ' + ps.movimiento.empleado.persona.apellido}"></td>
        	<td th:text="${ps.expediente.caratula}"></td>
        	<td th:switch="${ps.expediente.moneda}">
        		<div th:case="'GS'"  th:if="${ps.movimiento.ingreso != 0}" th:text="${#numbers.formatInteger(ps.movimiento.ingreso,3,'POINT')} + ' '+ ${ps.expediente.moneda}"></div>
        		<div th:case="'GS'"  th:if="${ps.movimiento.ingreso <= 0}" th:text="${ps.movimiento.ingreso} + ' '+ ${ps.expediente.moneda}"></div>
        		<div th:case="'USD'" th:text="${#numbers.formatDecimal(ps.movimiento.ingreso,3,'POINT',2,'COMMA')} + ' '+ ${ps.expediente.moneda}"></div>
        	</td>
        	
        	<td th:switch="${ps.expediente.moneda}">
        		<div th:case="'GS'" th:if="${ps.movimiento.egreso != 0}" th:text="${#numbers.formatInteger(ps.movimiento.egreso,3,'POINT')} + ' '+ ${ps.expediente.moneda}"></div>
        		<div th:case="'GS'" th:if="${ps.movimiento.egreso == 0}" th:text="${ps.movimiento.egreso} + ' '+ ${ps.expediente.moneda}"></div>
        		<div th:case="'USD'" th:if="${ps.movimiento.egreso != 0}"  th:text="${#numbers.formatDecimal(ps.movimiento.egreso,3,'POINT',2,'COMMA')} + ' '+ ${ps.expediente.moneda}"></div>
        		<div th:case="'USD'" th:if="${ps.movimiento.egreso == 0}"  th:text="${ps.movimiento.egreso} + ' '+ ${ps.expediente.moneda}"></div>
        	</td>
        	<td th:text="${ps.movimiento.descripcion}"></td>
        	<td th:text="${#dates.format(ps.movimiento.fecha, 'dd-MMM-yyyy')}"></td>
        </tr>
        </tbody>
    </table>
  
	<script type="text/javascript">
	$(document).ready(function() {
	    $('#expediente-table').dataTable( {
	        "bScrollCollapse": true,
	        "responsive":true,
	        'language' : {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "No existen Movimientos de ese Expediente",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando _MAX_ registros",
                "sInfoFiltered": " ",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }
	    } );
	    
	} );
	 
	</script>
</div>
