<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="starter">

<div th:fragment="contenido">
		<div class="row">
			<div class="col-lg-4 col-md-4">
				<div th:replace="expediente/despacho_form::form">
				   aqui va un fragmento de codigo del form
			    </div>
			</div>
			<!-- fin columna 1: Formulario -->

			<div class="col-lg-8 col-md-8">
				<table
					class="table table-bordered table-hover table-striped display"
					id="despachoDT">
					<thead>
						<tr>
							<th th:each=" col : ${columnas}" th:text="${col}">colum1</th>
						</tr>
					</thead>
				</table>
			</div>

			<script type="text/javascript">
			
					 $(document).ready(function() {
						 crearDataTable("despachoDT", "[[@{/despacho/json}]]", "[[${columnasStr}]]", "[[@{/despacho/edit/}]]");
						 
					});
		 </script>
		</div>
	</div>

</html>
