<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="formulario">


<body class="hold-transition skin-blue-light sidebar-mini ">



	<div th:fragment="form">

		<script type="text/javascript">
function limpiarForm() {
	$("#id").val("");
	$("#descripcion").val("");
	$("#codigo").val("");
	$("#tipoEstado").val("");
}
function nuevoRegistro() {
	limpiarForm();
	$("#botonNuevo").hide();
	$("#codigo").focus();
}
</script>
		<h4 class="page-header" th:text="#{materia.form.titulo}">Detalles
			de Estado</h4>
		
		<form th:action="@{/estado_externo_interno/accion}" th:object="${estadoExternoInterno}"
			method="post" role="form">

			<input type="hidden" th:field="*{id}" />

			<div class="form-group">
				<label for="codigo" th:text="#{estado_externo_interno.codigo.lbl}" class="field-label">Código:</label>
				<input type="text" th:field="*{codigo}" maxlength="60"
					class="form-control" autofocus="autofocus" />
			</div>
			
			<div class="form-group">
				<label for="descripcion" th:text="#{materia.descripcion.lbl}"
					class="field-label">Descripcion:</label> <input type="text"
					th:field="*{descripcion}" maxlength="100" class="form-control" />
			</div>
			<div class="form-group">
                <label for="tipoEstado" th:text="#{estado_externo_interno.tipo_estado.lbl}"
                    class="field-label">Tipo Estado:</label> <input type="text"
                    th:field="*{tipoEstado}" maxlength="100" class="form-control" />
            </div>

			<!-- Inicio panel botones -->
			<div th:replace="botones::footerModal">aqui van los botones</div>
		</form>
		<!-- Fin panel botones -->

	</div>
</body>
</html>
