<table class ="table table-bordered table-hover table-striped table-esp display col-xs-12 no-padding"	id="clienteDT">
<thead>
	<tr>
		<!--  <th th:each=" col : ${columnasPersona}" th:text="${col}">colum1</th>-->
		<th style=" width: 10px;"></th>
		<th>Id</th>
		<th>Nombre o Razón Social</th>
	</tr>
</thead>
<tbody>

<th:block th:if="${listParte != null and tipoParte !=null and tipoParte=='C' }" th:each=" client : ${listParte}">			
	<tr>
		<td><button type='button' class='editar btn btn-primary btn-xs' 
		th:onclick="'agregar_cliente(\''+${client.id}+'\', \''+${client.persona.nombre_razonSocial  + ' ' + client.persona.apellido}+'\',\''+${client.persona.cedula_ruc}+'\');'"><i class='fa fa-plus'></i> Agregar</button></td>
		<td th:text="${client.id}"></td>
		<td th:text="${client.persona.nombre_razonSocial  + ' ' + client.persona.apellido + ' - C.I.: ' + client.persona.cedula_ruc}"></td>
	</tr>
</th:block>
<th:block th:if="${listParte != null and tipoParte !=null and tipoParte=='A' }" th:each=" abog : ${listParte}">			
	<tr>
		<td><button type='button' class='editar btn btn-primary btn-xs' 
		th:onclick="'agregar_abogado(\''+${abog.id}+'\', \''+${abog.empleado.persona.nombre_razonSocial  + ' ' + abog.empleado.persona.apellido + ' - C.I.: ' + abog.empleado.persona.cedula_ruc}+'\');'"><i class='fa fa-plus'></i> Agregar</button></td>
		<td th:text="${abog.id}"></td>
		<td th:text="${abog.empleado.persona.nombre_razonSocial  + ' ' + abog.empleado.persona.apellido + ' - C.I.: ' + abog.empleado.persona.cedula_ruc}"></td>
	</tr>
</th:block>
<th:block th:if="${#lists.isEmpty(listParte)}">
	<tr>
		
		<td colspan="3">Ningún dato encontrado</td>
	</tr>
</th:block>
</tbody>
</table>