<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="formulario">


<body class="hold-transition skin-blue-light sidebar-mini ">



	<div th:fragment="form">

		<script type="text/javascript">
function limpiarForm() {
	$("#id").val("");
	$("#descripcion").val("");
	$("#codigo").val("");
	$("#proceso").val("");
}
function nuevoRegistro() {
	limpiarForm();
	$("#botonNuevo").hide();
	$("#descripcion").focus();
}
</script>
		<h4 class="page-header" th:text="#{proceso.form.titulo}">Detalles
			de procesos</h4>
		
		<form th:action="@{/proceso/save}" th:object="${proceso}"
			method="post" role="form">

			<input type="hidden" th:field="*{id}" />

			<div class="form-group">
				<label for="codigo" th:text="#{proceso.codigo.lbl}" class="field-label">Código:</label>
				<input type="text" th:field="*{codigo}" maxlength="60"
					class="form-control" autofocus="autofocus" />
			</div>
			
			<div class="form-group">
				<label for="descripcion" th:text="#{proceso.descripcion.lbl}"
					class="field-label">Descripcion:</label> <input type="text"
					th:field="*{descripcion}" maxlength="100" class="form-control" />
			</div>
			
			<div class="form-group">
				<label for="materia" th:text="#{proceso.materia.lbl}"
					class="field-label">materia:</label> 
					
					 <select th:field="*{materia}"
					class="form-control materia">
					<option th:each=" tip : ${materiaList}" th:value="${tip.id}"
						th:text="${tip.descripcion}">Excelente</option>
				</select> 
			</div>

			<!-- Inicio panel botones -->
			<div th:replace="botones::footerModal">aqui van los botones</div>
		</form>
		<!-- Fin panel botones -->
		<script type="text/javascript">
		$(function () {
		    //Initialize Select2 Elements
		    $(".materia").select2();});
		</script>

	</div>
</body>
</html>
