<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="formulario">

<body class="hold-transition skin-blue-light sidebar-mini ">
	<div th:fragment="form">
		<script type="text/javascript">
			function limpiarForm() {
				$("#id").val("");
				$("#descripcion").val("");
				$("#codigo").val("");
				$("#proceso").val("");
			}
			function nuevoRegistro() {
				limpiarForm();
				$("#botonNuevo").hide();
				$("#descripcion").focus();
			}
		</script>
		
		<h4 id="registrar-movil" class="page-header" th:text="#{proceso.form.titulo}"> Registrar Proceso</h4>	
		<form th:object="${proceso}" th:action="@{/proceso/save_listado}" method="post" role="form"
			id="idProceso">
			

			<input type="hidden" th:field="*{id}" />
			<div class="modal-movil hidden-xs col-sm-12">
			<div class="form-group col-xs-12 col-sm-12">
				<label for="codigo" th:text="#{proceso.codigo.lbl}"
					class="field-label col-xs-7 col-sm-7">Código:</label> <input type="text"
					th:field="*{codigo}" maxlength="60" class="form-control col-xs-6 col-sm-6"
					autofocus="autofocus" />

			</div>

			<div class="form-group col-xs-12 col-sm-12">
				<label for="descripcion" th:text="#{proceso.descripcion.lbl}"
					class="field-label col-xs-7 col-sm-7">Descripción:</label> <input type="text"
					th:field="*{descripcion}" maxlength="100" class="form-control col-xs-6 col-sm-6" />
			</div>

			<div class="form-group col-xs-12 col-sm-12">
				<label for="materia" th:text="#{proceso.materia.lbl}"
					class="field-label col-xs-7 col-sm-7">Materia:</label> <select th:field="*{materia}"
					class="form-control col-xs-6 col-sm-6">
					<option th:each=" tip : ${materiaList}" th:value="${tip.id}"
						th:text="${tip.descripcion}">Excelente</option>
				</select>
			</div>

			<div class="form-group col-xs-12 col-sm-12">
				<label for="tipoDemanda" th:text="#{proceso.tipoDemanda.lbl}"
					class="field-label col-xs-7 col-sm-7">Tipos de Demandas:</label> <select
					class="form-control tipoDemanda col-xs-6 col-sm-6" multiple="multiple"
					id="tipoDemanda" name="selec" style="width: 50%;">
					<option th:each=" dem : ${tipoDemandaList}" th:value="${dem.id}"
						th:text="${dem.descripcion}">Ejecutivo</option>
				</select>
			</div>
			</div>

			<!-- Inicio panel botones -->
			<div th:replace="botones::footerModal"></div>
		</form>
		<!-- Fin panel botones -->
		<script type="text/javascript">
		
		$(function () {
		    //Initialize Select2 Elements
		    $(".materia").select2();
			$(".tipoDemanda").select2({
					placeholder: "Seleccione los tipos de demandas..."
			});
			
			$(".tipoDemanda").on('change', function() {
				console.log(($(".tipoDemanda").val()));
			  });
				

			});

		
		</script>

	</div>
</body>
</html>
