<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="formulario">

<body class="hold-transition skin-blue-light sidebar-mini ">
	<div class="row form-class-modal"
		style="margin-right: -404; padding-top: 15px; margin-right: 0px; margin-left: 0px;"
		th:fragment="form">
		<form th:action="@{/tipo_actuacion/accion2}" th:object="${tipoActuacion}"
			method="post" role="form">
			<input type="hidden" th:field="*{id}"/>
			<div class="modal-movil hidden-xs col-sm-12">
				<div class="form-group col-xs-12 col-sm-12">
					<label for="abreviatura" th:text="#{tipo_actuacion.abreviatura.lbl}"
						class="field-label col-xs-7 col-sm-7"></label> <input
						type="text" th:field="*{abreviatura}" maxlength="60"
						class="form-control col-xs-6 col-sm-6" autofocus="autofocus" />
				</div>
				<div class="form-group col-xs-12 col-sm-12">
					<label for="descripcion" th:text="#{tipo_actuacion.descripcion.lbl}"
						class="field-label col-xs-6 col-sm-7">Descripcion:</label> <input
						type="text" th:field="*{descripcion}" maxlength="100"
						class="form-control col-xs-6 col-sm-6" />
				</div>
				
				<div class="form-group col-xs-12 col-sm-12">
					<label for="plazo" th:text="#{tipo_actuacion.plazo.lbl}"
						class="field-label col-xs-6 col-sm-7">Plazo:</label> <input
						type="text" id="plazo" name="plazo" maxlength="100"
						class="form-control col-xs-6 col-sm-6" />
				</div>
				
				
			</div>
			<!-- Inicio panel botones -->
			<div th:replace="botones::footerModal"></div>
		</form>
		
		<!-- Fin panel botones -->
	</div>
</body>
</html>
