<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="starter">

<body>

	<div class="row" th:fragment="contenido">
		
			<div class="col-xs-12">		
					<div class="box box-solid box-primary">
						<div class="box-header">
							<h3>Listado de Tipo de Clientes</h3>
						</div>
						<div class="box-body no-padding">
							<button class="btn btn-success" id="botonAgregar"
								 onclick="agregar()">
								<i class="glyphicon glyphicon-plus"></i> Nuevo Tipo de Cliente
							</button>
							<br><br>
							<table
								class="table table-bordered table-striped col-xs-12 no-padding table-esp"
								id="tipoClienteDT">
								<thead>
									<tr>
										 <th th:each="col : ${columnas}" th:text="#{'tipoCliente.' + ${col}}">CÓDIGO</th>
										<th>Accion</th>
									</tr>
								</thead>
							</table>
							<script type="text/javascript">
							
							 $(document).ready(function() {
							   crearDataTable("tipoClienteDT", "[[@{/tipo_cliente/json}]]", "[[${columnasStr}]]", "[[@{/tipo_cliente/edit/}]]");
							 });
			 			</script>
						</div>
						<!-- /.box-body -->
					</div>
					<!-- /.box -->
					</div>

				<!-- Modal borrar -->
		<div class="modal fade" id="formModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content col-xs-12">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel"
							>Nuevo Registro</h4>
					</div>
					<div class="modal-body">
						<div th:replace="expediente/tipo_cliente_form::form">aqui va un
								fragmento de codigo del form</div>
					</div>
					
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
			<script type="text/javascript">
			function agregar(){
				$("#formModal").modal("show");
				$(".modal-movil").removeClass("hidden-xs").addClass("col-xs-12");
			}
			</script>
			
		</div>
		<!-- Modal borrar -->

			
	</div>
	
	 
</body>
</html>
