
.skin-blue-light .main-header .navbar {
  background-color: #4285f4;
}
.skin-blue-light .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-blue-light .main-header .navbar .nav > li > a:hover,
.skin-blue-light .main-header .navbar .nav > li > a:active,
.skin-blue-light .main-header .navbar .nav > li > a:focus,
.skin-blue-light .main-header .navbar .nav .open > a,
.skin-blue-light .main-header .navbar .nav .open > a:hover,
.skin-blue-light .main-header .navbar .nav .open > a:focus,
.skin-blue-light .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-blue-light .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-blue-light .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-blue-light .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-blue-light .main-header .navbar .sidebar-toggle:hover {
  background-color: #4285f4;
}
@media (max-width: 767px) {
  .skin-blue-light .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-blue-light .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-blue-light .main-header .navbar .dropdown-menu li a:hover {
    background: #4285f4;
     color: #fff;
  }
}
.skin-blue-light .main-header .logo {
  background-color: #4285f4;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-blue-light .main-header .logo:hover {
  background-color: #3b8ab8;
}
.skin-blue-light .main-header li.user-header {
  background-color:#4285f4;
}
.skin-blue-light .content-header {
  background: transparent;
}
.skin-blue-light .wrapper,
.skin-blue-light .main-sidebar,
.skin-blue-light .left-side {
  background-color: #f9fafc;
}
.skin-blue-light .content-wrapper,
.skin-blue-light .main-footer {
  border-left: 1px solid #d2d6de;
}
.skin-blue-light .user-panel > .info,
.skin-blue-light .user-panel > .info > a {
  color: #444444;
}
.skin-blue-light .sidebar-menu > li {
  -webkit-transition: border-left-color 0.3s ease;
  -o-transition: border-left-color 0.3s ease;
  transition: border-left-color 0.3s ease;
}
.skin-blue-light .sidebar-menu > li.header {
  color: #848484;
  background: #f9fafc;
}
.skin-blue-light .sidebar-menu > li > a {
  border-left: 3px solid transparent;
  font-weight: 600;
}
.skin-blue-light .sidebar-menu > li:hover > a,
.skin-blue-light .sidebar-menu > li.active > a {
   color: #fff;
  background: #4285f4;

}
.skin-blue-light .sidebar-menu > li.active {
  border-left-color: #4285f1;/*added*/
}
.skin-blue-light .sidebar-menu > li.active > a {
  font-weight: 600;
}
.skin-blue-light .sidebar-menu > li > .treeview-menu {
  background: #f4f4f5;
}
.skin-blue-light .sidebar a {
  color: #444444;
}
.skin-blue-light .sidebar a:hover {
  text-decoration: none;
}
.skin-blue-light .treeview-menu > li > a {
  color: #000;
}
.skin-blue-light .treeview-menu > li.active > a,
.skin-blue-light .treeview-menu > li > a:hover {
  color: #4285f4;
}
.skin-blue-light .treeview-menu > li.active > a {
  font-weight: 600;
   color: #fff;
}
.skin-blue-light .sidebar-form {
  border-radius: 3px;
  border: 1px solid #d2d6de;
  margin: 10px 10px;
}
.skin-blue-light .sidebar-form input[type="text"],
.skin-blue-light .sidebar-form .btn {
  box-shadow: none;
  background-color: #fff;
  border: 1px solid transparent;
  height: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.skin-blue-light .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-blue-light .sidebar-form input[type="text"]:focus,
.skin-blue-light .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-blue-light .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-blue-light .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
@media (min-width: 768px) {
  .skin-blue-light.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
    border-left: 1px solid #d2d6de;
  }
}
.skin-blue-light .main-footer {
  border-top-color: #d2d6de;
}
.skin-blue.layout-top-nav .main-header > .logo {
  background-color: #2f80dd;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-blue.layout-top-nav .main-header > .logo:hover {
  background-color: #4285ff;
}

.skin-blue-light ul.sidebar-menu i{
	color:#3d80df;
}

 .skin-blue-light ul.sidebar-menu li.active > a > i{
	color:#fff;
}

 .skin-blue-light ul.sidebar-menu li.treeview:hover > a > i{
	color:#fff;
}

 .skin-blue-light ul.sidebar-menu ul.treeview-menu li:hover >  i{
	color:#3d80df;
}


ul.sidebar-menu li.treeview a span {
	font-weight: bold;
	
}
ul.sidebar-menu li.treeview ul.treeview-menu span {
	font-weight: normal;
}

/*---------------------------------------START VET-----------------------------------------------------*/
.skin-VET-light .main-header .navbar {
  background-color: #7B283E;
}
.skin-VET-light .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-VET-light .main-header .navbar .nav > li > a:hover,
.skin-VET-light .main-header .navbar .nav > li > a:active,
.skin-VET-light .main-header .navbar .nav > li > a:focus,
.skin-VET-light .main-header .navbar .nav .open > a,
.skin-VET-light .main-header .navbar .nav .open > a:hover,
.skin-VET-light .main-header .navbar .nav .open > a:focus,
.skin-VET-light .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-VET-light .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-VET-light .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-VET-light .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-VET-light .main-header .navbar .sidebar-toggle:hover {
  background-color: #367fa9;
}
@media (max-width: 767px) {
  .skin-VET-light .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-VET-light .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-VET-light .main-header .navbar .dropdown-menu li a:hover {
    background: #367fa9;
  }
}
.skin-VET-light .main-header .logo {
  background-color: #7B283E;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-VET-light .main-header .logo:hover {
  background-color: #7B283F; 
}
.skin-VET-light .main-header li.user-header {
  background-color: #7B283E;
}
.skin-VET-light .content-header {
  background: transparent;
}
.skin-VET-light .wrapper,
.skin-VET-light .main-sidebar,
.skin-VET-light .left-side {
  background-color: #f9fafc;
}
.skin-VET-light .content-wrapper,
.skin-VET-light .main-footer {
  border-left: 1px solid #d2d6de;
}
.skin-VET-light .user-panel > .info,
.skin-VET-light .user-panel > .info > a {
  color: #444444;
}
.skin-VET-light .sidebar-menu > li {
  -webkit-transition: border-left-color 0.3s ease;
  -o-transition: border-left-color 0.3s ease;
  transition: border-left-color 0.3s ease;
}
.skin-VET-light .sidebar-menu > li.header {
  color: #848484;
  background: #f9fafc;
}
.skin-VET-light .sidebar-menu > li > a {
  border-left: 3px solid transparent;
  font-weight: 600;
}
.skin-VET-light .sidebar-menu > li:hover > a,
.skin-VET-light .sidebar-menu > li.active > a {
  color: #FFF;
  background: #7B283E;/*add*/
}
.skin-VET-light .sidebar-menu > li.active {
  border-left-color: #7B283E;
}
.skin-VET-light .sidebar-menu > li.active > a {
  font-weight: 600;
}
.skin-VET-light .sidebar-menu > li > .treeview-menu {
  background: #fff;
  
}
.skin-VET-light .sidebar a {
  color: #444444;
}
.skin-VET-light .sidebar a:hover {
  text-decoration: none;
}
.skin-VET-light .treeview-menu > li > a {
    color: #000;
}
.skin-VET-light .treeview-menu > li.active > a,
.skin-VET-light .treeview-menu > li > a:hover {
  color: #7B283E;
}
.skin-VET-light .treeview-menu > li.active > a {
  font-weight: 600;
}
.skin-VET-light .sidebar-form {
  border-radius: 3px;
  border: 1px solid #d2d6de;
  margin: 10px 10px;
}
.skin-VET-light .sidebar-form input[type="text"],
.skin-VET-light .sidebar-form .btn {
  box-shadow: none;
  background-color: #fff;
  border: 1px solid transparent;
  height: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.skin-VET-light .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-VET-light .sidebar-form input[type="text"]:focus,
.skin-VET-light .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-VET-light .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-VET-light .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
@media (min-width: 768px) {
  .skin-VET-light.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
    border-left: 1px solid #d2d6de;
  }
}
.skin-VET-light .main-footer {
  border-top-color: #d2d6de;
}
.skin-VET.layout-top-nav .main-header > .logo {
  background-color: #7B283E;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-VET.layout-top-nav .main-header > .logo:hover {
  background-color: #3b8ab8;
}


/*---------------------------------------END VET-----------------------------------------------------*/


/*---------------------------------------START POLSL-----------------------------------------------------*/

.skin-POLSL-light .main-header .navbar {
  background-color: #3b598d;
}
.skin-POLSL-light .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-POLSL-light .main-header .navbar .nav > li > a:hover,
.skin-POLSL-light .main-header .navbar .nav > li > a:active,
.skin-POLSL-light .main-header .navbar .nav > li > a:focus,
.skin-POLSL-light .main-header .navbar .nav .open > a,
.skin-POLSL-light .main-header .navbar .nav .open > a:hover,
.skin-POLSL-light .main-header .navbar .nav .open > a:focus,
.skin-POLSL-light .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-POLSL-light .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-POLSL-light .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-POLSL-light .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-POLSL-light .main-header .navbar .sidebar-toggle:hover {
  background-color: #367fa9;
}
@media (max-width: 767px) {
  .skin-POLSL-light .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-POLSL-light .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-POLSL-light .main-header .navbar .dropdown-menu li a:hover {
    background: #367fa9;
  }
}
.skin-POLSL-light .main-header .logo {
  background-color: #3b598d;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-POLSL-light .main-header .logo:hover {
  background-color: #3b598d; 
}
.skin-POLSL-light .main-header li.user-header {
  background-color: #3b598d;
}
.skin-POLSL-light .content-header {
  background: transparent;
}
.skin-POLSL-light .wrapper,
.skin-POLSL-light .main-sidebar,
.skin-POLSL-light .left-side {
  background-color: #f9fafc;
}
.skin-POLSL-light .content-wrapper,
.skin-POLSL-light .main-footer {
  border-left: 1px solid #d2d6de;
}
.skin-POLSL-light .user-panel > .info,
.skin-POLSL-light .user-panel > .info > a {
  color: #444444;
}
.skin-POLSL-light .sidebar-menu > li {
  -webkit-transition: border-left-color 0.3s ease;
  -o-transition: border-left-color 0.3s ease;
  transition: border-left-color 0.3s ease;
}
.skin-POLSL-light .sidebar-menu > li.header {
  color: #848484;
  background: #f9fafc;
}
.skin-POLSL-light .sidebar-menu > li > a {
  border-left: 3px solid transparent;
  font-weight: 600;
}
.skin-POLSL-light .sidebar-menu > li:hover > a,
.skin-POLSL-light .sidebar-menu > li.active > a {
  color: #FFF;
  background: #3b598d;/*add*/
}
.skin-POLSL-light .sidebar-menu > li.active {
  border-left-color: #3b598d;
}
.skin-POLSL-light .sidebar-menu > li.active > a {
  font-weight: 600;
}
.skin-POLSL-light .sidebar-menu > li > .treeview-menu {
  background: #fff;
  
}
.skin-POLSL-light .sidebar a {
  color: #444444;
}
.skin-POLSL-light .sidebar a:hover {
  text-decoration: none;
}
.skin-POLSL-light .treeview-menu > li > a {
  color: #000;
}
.skin-POLSL-light .treeview-menu > li.active > a,
.skin-POLSL-light .treeview-menu > li > a:hover {
  color: #3b598d;
}
.skin-POLSL-light .treeview-menu > li.active > a {
  font-weight: 600;
}
.skin-POLSL-light .sidebar-form {
  border-radius: 3px;
  border: 1px solid #d2d6de;
  margin: 10px 10px;
}
.skin-POLSL-light .sidebar-form input[type="text"],
.skin-POLSL-light .sidebar-form .btn {
  box-shadow: none;
  background-color: #fff;
  border: 1px solid transparent;
  height: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.skin-POLSL-light .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-POLSL-light .sidebar-form input[type="text"]:focus,
.skin-POLSL-light .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-POLSL-light .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-POLSL-light .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
@media (min-width: 768px) {
  .skin-POLSL-light.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
    border-left: 1px solid #d2d6de;
  }
}
.skin-POLSL-light .main-footer {
  border-top-color: #d2d6de;
}
.skin-POLSL.layout-top-nav .main-header > .logo {
  background-color: #3b598d;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-POLSL.layout-top-nav .main-header > .logo:hover {
  background-color: #3b8ab8;
}

/*---------------------------------------END POLSL-----------------------------------------------------*/

/*---------------------------------------START ECO-----------------------------------------------------*/

.skin-ECO-light .main-header .navbar {
  background-color: #009900;
}
.skin-ECO-light .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-ECO-light .main-header .navbar .nav > li > a:hover,
.skin-ECO-light .main-header .navbar .nav > li > a:active,
.skin-ECO-light .main-header .navbar .nav > li > a:focus,
.skin-ECO-light .main-header .navbar .nav .open > a,
.skin-ECO-light .main-header .navbar .nav .open > a:hover,
.skin-ECO-light .main-header .navbar .nav .open > a:focus,
.skin-ECO-light .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-ECO-light .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-ECO-light .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-ECO-light .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-ECO-light .main-header .navbar .sidebar-toggle:hover {
  background-color: #367fa9;
}
@media (max-width: 767px) {
  .skin-ECO-light .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-ECO-light .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-ECO-light .main-header .navbar .dropdown-menu li a:hover {
    background: #367fa9;
  }
}
.skin-ECO-light .main-header .logo {
  background-color: #009900;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-ECO-light .main-header .logo:hover {
  background-color: #009900; 
}
.skin-ECO-light .main-header li.user-header {
  background-color: #009900;
}
.skin-ECO-light .content-header {
  background: transparent;
}
.skin-ECO-light .wrapper,
.skin-ECO-light .main-sidebar,
.skin-ECO-light .left-side {
  background-color: #f9fafc;
}
.skin-ECO-light .content-wrapper,
.skin-ECO-light .main-footer {
  border-left: 1px solid #d2d6de;
}
.skin-ECO-light .user-panel > .info,
.skin-ECO-light .user-panel > .info > a {
  color: #444444;
}
.skin-ECO-light .sidebar-menu > li {
  -webkit-transition: border-left-color 0.3s ease;
  -o-transition: border-left-color 0.3s ease;
  transition: border-left-color 0.3s ease;
}
.skin-ECO-light .sidebar-menu > li.header {
  color: #848484;
  background: #f9fafc;
}
.skin-ECO-light .sidebar-menu > li > a {
  border-left: 3px solid transparent;
  font-weight: 600;
}
.skin-ECO-light .sidebar-menu > li:hover > a,
.skin-ECO-light .sidebar-menu > li.active > a {
  color: #FFF;
  background: #009900;/*add*/
}
.skin-ECO-light .sidebar-menu > li.active {
  border-left-color: #009900;
}
.skin-ECO-light .sidebar-menu > li.active > a {
  font-weight: 600;
}
.skin-ECO-light .sidebar-menu > li > .treeview-menu {
  background: #fff;
  
}
.skin-ECO-light .sidebar a {
  color: #444444;
}
.skin-ECO-light .sidebar a:hover {
  text-decoration: none;
}
.skin-ECO-light .treeview-menu > li > a {
  color: #000;
}
.skin-ECO-light .treeview-menu > li.active > a,
.skin-ECO-light .treeview-menu > li > a:hover {
  color: #009900;
}
.skin-ECO-light .treeview-menu > li.active > a {
  font-weight: 600;
}
.skin-ECO-light .sidebar-form {
  border-radius: 3px;
  border: 1px solid #d2d6de;
  margin: 10px 10px;
}
.skin-ECO-light .sidebar-form input[type="text"],
.skin-ECO-light .sidebar-form .btn {
  box-shadow: none;
  background-color: #fff;
  border: 1px solid transparent;
  height: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.skin-ECO-light .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-ECO-light .sidebar-form input[type="text"]:focus,
.skin-ECO-light .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-ECO-light .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-ECO-light .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
@media (min-width: 768px) {
  .skin-ECO-light.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
    border-left: 1px solid #d2d6de;
  }
}
.skin-ECO-light .main-footer {
  border-top-color: #d2d6de;
}
.skin-ECO.layout-top-nav .main-header > .logo {
  background-color: #009900;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-ECO.layout-top-nav .main-header > .logo:hover {
  background-color:#009900;
}

/*---------------------------------------END ECO-----------------------------------------------------*/