<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="formulario">

<body class="hold-transition skin-blue-light sidebar-mini ">
	<div class="row form-class-modal"
		style="margin-right: -404; padding-top: 15px; margin-right: 0px; margin-left: 0px;"
		th:fragment="form">
		<form th:action="@{/caja/accion2}" th:object="${caja}" method="post"
			role="form">
			<input type="hidden" th:field="*{id}" />
			<div class="modal-movil hidden-xs col-sm-12">
				<div class="form-group col-xs-12 col-sm-12">
					<label for="codigo" th:text="#{caja.codigo.lbl}"
						class="field-label col-xs-7 col-sm-7">Código:</label> <input
						type="text" th:field="*{codigo}" maxlength="60"
						class="form-control col-xs-6 col-sm-6" autofocus="autofocus" />
				</div>

				<div class="form-group col-xs-12 col-sm-12">
					<label for="monto" th:text="#{caja.monto.lbl}"
						class="field-label col-xs-7 col-sm-7">Monto:</label> <input
						type="text" name="monto_format" id="monto_format" maxlength="100"
						class="form-control col-xs-6 col-sm-6 numbers-only importe" />
				</div>

				<div class="form-group col-sm-12">
					<label>Fecha:</label>
					<div class="input-group date" style="width: 70%;">
						<div class="input-group-addon">
							<i class="fa fa-calendar"></i>
						</div>
						<input type="text" class="form-control pull-right" name="fecha"
							id="fecha" th:field="*{fecha}">
					</div>
					<!-- /.input group -->
				</div>
			</div>

			<script type="text/javascript">
        		$(function () {
        	 		$('#fecha').datepicker({       
                 		autoclose: true,
                 		language: 'es', 
                 		format: 'dd/mm/yyyy',
                 		
                 	});
             	});
       		</script>
       		<div class="col-sm-12">
       			<div id="div-error" class="col-sm-6 hidden alert alert-warning" style="height:30px;margin-top:16px;margin-left:15px;width:235px !important;">
       				<span id="mensaje-error" style="position:relative;bottom:10px;"></span>
       			</div>
       			<div class="col-sm-5 botonera-div" style="float:right; padding-right:0px;padding-left:0px;margin-left:5px;">
       				<div th:replace="botones::footerModal"></div>
       			</div>
       			
       		</div>
       	</form>
	</div>
	
	<!-- Fin panel botones -->
</body>
</html>
