<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="formulario">

<body class="hold-transition skin-blue-light sidebar-mini ">
	<div th:fragment="form">
		<script type="text/javascript">
			function limpiarForm() {
				$("#id").val("");
				$("#ruc").val("");
				$("#timbrado").val("");
				$("#fecha_inicio_vigencia").val("");
				$("#fecha_fin_vigencia").val("");
				$("#nro_factura").val("");
				$("#fecha").val("");
				$("#tipo_pago").val("");
			}
			function nuevoRegistro() {
				limpiarForm();
				$("#botonNuevo").hide();
				$("#timbrado").focus();
			}
		</script>
		<h4 class="page-header">Factura</h4>
		<span th:text="${error}" style="color: red;display:none;">Ocurrió un error</span> <span
			style="color: green">
			<div class="alert alert-success hidden" role="alert" th:text="${msgExito}">
				<strong>Well done!</strong> You successfully read this important
				alert message.
			</div>
		</span>

		<ul>
			<li th:each=" err : ${errorList}" th:text="#{${err.defaultMessage}}"
				style="color: red">Debe ingresar codigo</li>
		</ul>

		<form id="factura_form" th:action="@{/factura_cabecera/accion}" th:object="${facturaCabecera}"
			method="get" role="form">

			<input type="hidden" th:field="*{id}" />

			<div class="form-group col-xs-12 col-sm-12" style="border-color:black; border-style:solid;">
				<h4 class="page-header" style="text-align:center;">Cabecera Factura</h4>
			<div class="form-group col-sm-6">
				<label for="timbrado" th:text="#{factura_cabecera.timbrado.lbl}"
					class="field-label">Timbrado:</label> <input type="text"
					th:field="*{timbrado}" maxlength="100" class="form-control col-sm-6" />
			</div>
			<div class="form-group col-sm-6" style="margin-left:5px; padding-left:10px;">
						<label>Fecha Inicio Vigencia:</label>
						<div class="input-group date" style="width:80%;">
							<div class="input-group-addon">
								<i class="fa fa-calendar"></i>
							</div>
							<input type="text" class="form-control pull-right col-sm-6"
								name="fecha_inicio_vigencia" id="datepicker">
						</div>
						
			</div>
			
			<div class="form-group col-sm-5" style="margin-left:5px;padding-left:10px;">
						<label>Fecha Fin Vigencia:</label>
						<div class="input-group date" style="width:80%;">
							<div class="input-group-addon">
								<i class="fa fa-calendar"></i>
							</div>
							<input type="text" class="form-control pull-right col-sm-6"
								name="fecha_fin_vigencia" id="datepicker1">
						</div>
						
			</div>
			
			<div class="form-group col-sm-6">
				<label for="ruc" th:text="#{factura_cabecera.ruc.lbl}"
					class="field-label">Ruc:</label> <input type="text"
					th:field="*{ruc}" maxlength="100" class="form-control col-sm-6" />
			</div>
			
			<div class="form-group col-sm-6">
				<label for="nro_factura" th:text="#{factura_cabecera.nro_factura.lbl}"
					class="field-label">N°de Factura:</label> <input type="text"
					th:field="*{nroFactura}" maxlength="100" class="form-control col-sm-6" />
			</div>
			
			<div class="form-group col-sm-6">

				<label for="tipo_pago" th:text="#{factura_cabecera.tipo_pago.lbl}"
					class="field-label">Tipo Pago:</label> <input type="text"
					th:field="*{tipoPago}" maxlength="60" class="form-control col-sm-6"/>
			</div>
			
			<div class="form-group col-sm-6">

				<label for="razon_social" th:text="#{factura_cabecera.razon_social.lbl}"
					class="field-label">Razón Social:</label> <input type="text"
					th:field="*{razonSocial}" maxlength="60" class="form-control col-sm-6"/>
			</div>
			
			<div class="form-group col-sm-6">

				<label for="direccion" th:text="#{factura_cabecera.direccion.lbl}"
					class="field-label">Dirección:</label> <input type="text"
					th:field="*{direccion}" maxlength="60" class="form-control col-sm-6"/>
			</div>
			<div class="form-group col-sm-6">

				<label for="ruc_ci_cliente" th:text="#{factura_cabecera.ruc_ci.lbl}"
					class="field-label">Ruc O Ci:</label> <input type="text"
					th:field="*{rucCi}" maxlength="60" class="form-control col-sm-6"/>
			</div>
			<!-- Inicio panel botones -->
			
			</div>
			<div id="factura_detalle" class="col-xs-12 col-sm-12" style="border-color: black; border-style: solid; padding-left:5px; padding-right:5px;">
				<h4 class="page-header" style="text-align:center;">Detalles Factura</h4>
				<table id="f_detalle" class="col-xs-12 col-sm-12" style="padding-left:5px; padding-right:5px;">
					<thead class="col-xs-12 col-sm-12" style="padding-left:5px; padding-right:5px;">
						<tr class="col-xs-12 col-sm-12" style="padding-right:0px;">
							<th class="col-xs-1 col-sm-1 f-head">N°</th>
							<th class="col-xs-4 col-sm-4 f-head">Descripción</th>
							<th class="col-xs-2 col-sm-2 f-head" style="padding-right:5px;">Ingreso</th>
							<th class="col-xs-2 col-sm-2 f-head" style="padding-left:5px;">Egreso</th>
							<th class="col-xs-3 col-sm-3 f-head">Monto</th>
							<th class="col-xs-2 col-sm-2 f-head">Acción</th>
						</tr>
					</thead >
					<tbody class="col-xs-12 col-sm-12" style="margin-bottom:10px; padding-left:5px; padding-right:5px;">
						<tr class="col-xs-12 col-sm-12 clonar tr-first" style="padding-right:0px; padding-left:5px">
							<td id="nro" class="col-xs-1 col-sm-1 f-head">1</td>
							<td class="col-xs-4 col-sm-4 f-head"><input type="text" id="descripcion" class="col-xs-12 col-sm-12"/></td>
							<td class="col-xs-2 col-sm-2 f-head" style="padding-right:5px;"><input type="text" id="ingreso" class="col-xs-12 col-sm-12"/></td>
							<td class="col-xs-2 col-sm-2 f-head" style="padding-right:5px;"><input type="text" id="egreso" class="col-xs-12 col-sm-12"/></td>
							<td class="col-xs-2 col-sm-2 f-head" style="padding-right:5px;"><input type="text" id="monto" class="col-xs-12 col-sm-12"/></td>
							<td class="col-xs-2 col-sm-2 f-head" style="padding-right:0px;">
								<button type="button" id="agregar_fila" class="no-padding col-xs-3 col-sm-3 btn btn-success" onclick="agregarFila()"><i class='glyphicon glyphicon-ok'></i></button>
								<button type="button" id="eliminar_fila" class="no-padding col-xs-3 col-sm-3 btn btn-danger" onclick="eliminarFila()" style="margin-top:10px; margin-left:2px"><i class='glyphicon glyphicon-trash'></i></button>
							</td>
						</tr>
						<tr class="col-xs-12 col-sm-12 fila_1" style="padding-right:0px; padding-left:5px;">
							<td id="nro" class="col-xs-1 col-sm-1 f-head">1</td>
							<td class="col-xs-4 col-sm-4 f-head"><input type="text" id="descripcion" class="col-xs-12 col-sm-12"/></td>
							<td class="col-xs-2 col-sm-2 f-head" style="padding-right:5px;"><input type="text" id="ingreso" class="col-xs-12 col-sm-12"/></td>
							<td class="col-xs-2 col-sm-2 f-head" style="padding-right:5px;"><input type="text" id="egreso" class="col-xs-12 col-sm-12"/></td>
							<td class="col-xs-2 col-sm-2 f-head" style="padding-right:5px;"><input type="text" id="monto" class="col-xs-12 col-sm-12"/></td>
							<td class="col-xs-2 col-sm-2 f-head" style="padding-right:0px;">
								<button type="button" id="agregar_fila" class="no-padding col-xs-3 col-sm-3 btn btn-success" onclick="agregarFila()"><i class='glyphicon glyphicon-ok'></i></button>
								<button type="button" id="eliminar_fila" class="no-padding col-xs-3 col-sm-3 btn btn-danger" onclick="eliminarFila()" style="margin-top:10px; margin-left:2px"><i class='glyphicon glyphicon-trash'></i></button>
							</td>
						</tr>
						<tr class="col-xs-12 col-sm-12 last-tr" style="margin-top:5px;">
							<td class="col-xs-4 col-sm-4"><input type="radio" name="iva" value="5"/><span style="font-weight:bold;">Iva 5%</span></td>
							<td class="col-xs-4 col-sm-4"><input type="radio" name="iva" value="10"/><span style="font-weight:bold;">Iva 10%</span></td>
							<td class="col-xs-4 col-sm-4 f-head"><span style="font-weight:bold;">Monto Total: </span><input type="text" id="monto_total" class="col-xs-12 col-sm-12"/></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-xs-12 col-sm-12 col-sm-offset-3">
						<button id="btn-cabecera" type="button" class="btn btn-primary col-xs-5 col-sm-3"
						style="padding:5px; margin:10px;">Generar Factura</button>
						
			</div>
		</form>
		<script type="text/javascript">
			    
       $("#btn-cabecera").on('click',function(e){
           console.log("entro en el onclick");
           var cabecera = $("#factura_form").serialize();
           //pasar table a array para mandar a ajax
           let headers = document.querySelectorAll('thead th');
           let rows = document.querySelectorAll('tbody tr');
           let json = [];

           [].forEach.call(rows, (row, i) => {
             let cells = row.querySelectorAll('td');
             let data = {};
             cells.forEach.call(cells, (cell, x) => {
               let header = headers[x].textContent;
               let content = cell.textContent;
               data[header] = content;
             });
             json.push(data);
           
           });
           var array_str =  JSON.stringify(json); //se puede convertir todo a string para luego deserializar en un map en java
    		console.log(array_str);
           $.ajax({
           type: "GET",
           url: "factura_cabecera/factura",
           data: { 
               factura_cabecera: cabecera,
               factura_detalle: array_str
           }
       }).done(function(data){
           console.log("entro en el ajax");
           console.log(data);
           
          
           
       });
       });
      
       </script>
       
	</div>
</body>

</html>
