<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="formulario">

<body class="hold-transition skin-blue-light sidebar-mini ">
	<div th:fragment="form">
		<script type="text/javascript">
			function limpiarForm() {
				$("#id").val("");
				$("#caja").val("");
				$("#tipoIngresoEgreso").val("");
				$("#descripcion").val("");
			}
			function nuevoRegistro() {
				limpiarForm();
				$("#botonNuevo").hide();
				$("#descripcion").focus();
			}
		</script>
		<h4 class="page-header" th:text="#{ingresoEgreso.form.titulo}">Detalles
			de Ingresos y Egresos</h4>
		<form th:action="@{/ingreso_egreso/accion}"
			th:object="${ingreso_egreso}" method="post" role="form">
			<input type="hidden" th:field="*{id}" />
			<div class="form-group">
				<label for="caja" th:text="#{ingresoEgreso.codigo.lbl}"
					class="field-label">Código</label> <input type="text"
					th:field="*{caja}" maxlength="100" class="form-control" />
			</div>
			<div class="form-group">
				<label for="tipoingreso_egreso"
					th:text="#{ingreso_egreso.tipoIngresoEgreso.lbl}"
					class="field-label">tipoingreso_egreso:</label> <input type="text"
					th:field="*{tipoingreso_egreso}" maxlength="60"
					class="form-control" autofocus="autofocus" />
			</div>
			<!-- Inicio panel botones -->
			<div th:replace="botones::form_botones"></div>
		</form>
		<!-- Fin panel botones -->
	</div>
</body>

</html>
