<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="starter">

<body>
	<div class="row" th:fragment="contenido">
		<div class="col-xs-12">
			<div class="box box-solid box-primary">
				<div class="box-header">
					<h3>Listado de Servicios</h3>
				</div>
				<div class="box-body" style="width: 99%; padding-left: 15px;">
					<button class="btn btn-success" id="botonAgregar"
						onclick="agregar('','r')">
						<i class="glyphicon glyphicon-plus"></i>Nuevo Servicio
					</button>
					<br> <br>
					<table
						class="table table-bordered table-striped col-xs-12 no-padding table-esp"
						id="servicioDT">
						<thead>
							<tr>
								<th th:each="col : ${columnas}"
									th:text="#{'servicio.' + ${col} + '.header'}"></th>
								<th>Accion</th>
							</tr>
						</thead>
					</table>
					<script type="text/javascript">
						$(document).ready(
							function() {
								crearDataTable("servicioDT",
								"[[@{/servicio/json}]]",
								"[[${columnasStr}]]",
								"[[@{/servicio/edit/}]]");
							});
					</script>
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
		</div>

		<!-- Modal borrar -->
		<div class="modal fade" id="borradoPopup" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<form th:object="${servicio}" th:action="@{/servicio/eliminar_listado}"
				method="post" role="form" id="idServicio">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">Borrado de
								Registro</h4>
						</div>
						<div class="modal-body">
							¿Está seguro que desea borrar registro de forma permanente?<input
								type="hidden" for="id_objeto" id="id_objeto" name="id_objeto" />
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal">Cancelar</button>
							<button type="submit" class="btn btn-primary" name="accion"
								value="delete">Confirmar</button>
							<!-- onclick= "submitBorrado()" -->
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
			</form>
			<!-- /.modal-dialog -->
		</div>
		<!-- FIN Modal borrar -->

		<!-- Modal  -->
		<div class="modal fade" id="formModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Nuevo Registro</h4>
					</div>
					<div class="modal-body">
						<div th:replace="gastos/servicio_form::form"></div>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->

			<script type="text/javascript">
				function agregar(obj, accion) {
					if (obj != '') {
						var id = obj["id"];
					}
					if (accion === 'd') { //delete
						if (id !== null || id !== undefined || id !== "") {
							$('#delete').removeClass('hidden');
							$('#save').addClass('hidden');
							$('#edit').addClass('hidden');
							$('#id_objeto').val(obj["id"]);
							$('#id').val('');
							$('#tipoServicio').val('');
							$('#costo').val('');
							$('#iva').val('');
							$('#selec').val('');
							$("#borradoPopup").modal("show");
						}
					} else if (accion === 'e') { //edit
						if (id !== null || id !== undefined || id !== "") {
							$('#edit').removeClass('hidden');
							$('#save').addClass('hidden');
							$('#delete').addClass('hidden');
							$('#id').val(id);
							$('#codigo').val(obj["codigo"]);
							$('#tipoServicio').val(obj["tipoServicio"]);
							$('#costo').val(obj["costo"]);
							$('#iva').val(obj["iva"]);
							$("#formModal").modal("show");
						}
					} else if (accion === 'r') { //create
						$('#delete').addClass('hidden');
						$('#edit').addClass('hidden');
						$('#save').removeClass('hidden');
						$('#id').val('');
						$('#tipoServicio').val('');
						$('#costo').val('');
						$('#iva').val('');
						$('#selec').val('');
						$("#formModal").modal("show");
					} else if (accion === 'v') { //veiw
						$('#delete').addClass('hidden');
						$('#edit').addClass('hidden');
						$('#save').addClass('hidden');
						$('#id').val(id);
						$('#codigo').val(obj["codigo"]);
						$('#tipoServicio').val(obj["tipoServicio"]);
						$('#costo').val(obj["costo"]);
						$('#iva').val(obj["iva"]);
						$("#formModal").modal("show");
					}
				}
			</script>
		</div>
	</div>
</body>

</html>
