<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="starter">

<body>
	<div class="row" th:fragment="contenido">
		<div class="col-xs-12">
			<div class="box box-solid box-primary">
				<div class="box-header">
					<h3>Listado de Roles</h3>
				</div>
				<div class="box-body" style="width: 99%; padding-left: 15px;">
					<button class="btn btn-success" id="botonAgregar"
						onclick="agregar('','r')">
						<i class="glyphicon glyphicon-plus"></i> Nuevo Rol
					</button>
					<br> <br>
					<table
						class="table table-bordered table-striped col-xs-12 no-padding table-esp"
						id="rolDT">
						<thead>
							<tr>
								<th th:each="col : ${columnas}"
									th:text="#{'rol.' + ${col} + '.header'}"></th>
								<th>Accion</th>
							</tr>
						</thead>
					</table>
					<script type="text/javascript">
							
							 $(document).ready(function() {
							   crearDataTable("rolDT", "[[@{/rol/json}]]", "[[${columnasStr}]]", "[[@{/rol/edit/}]]");
							 });
			 			</script>
						</div>
						<!-- /.box-body -->
					</div>
					<!-- /.box -->
					</div>

<div class="modal fade" id="borradoPopup" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<form th:object="${rol}" th:action="@{/rol/eliminar_listado}" method="post" role="form"
						id="idRol">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">Borrado de
							Registro</h4>
					</div>
					<div class="modal-body">Está seguro que desea borrar registro de forma
						permanente?
						
						<input type="hidden" for="id_objeto" id="id_objeto" name="id_objeto"/>
						</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
						<button type="submit" class="btn btn-primary" name="accion"
							value="delete">Confirmar</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			</form>
			<!-- /.modal-dialog -->
			</div>
<!-- FIN Modal borrar -->
				<!-- Modal borrar -->

		<div id="formModal" class="modal fade" data-backdrop="static" aria-hidden="false">
		    <div class="modal-dialog">
		        <div class="modal-content form-class-modal">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                <h4 class="modal-title">Registrar Rol</h4>
		            </div>
					<div class="modal-body">
						<div th:replace="seguridad/rol_form::form"></div>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
			<!-- /.modal -->
			<script type="text/javascript">

			function agregar(obj, accion){
				
				if(obj != ''){
					var id = obj["id"];
				}
				
				if(accion === 'd'){
					if(id !== null || id !== undefined || id !== "" ){
						$('#delete').removeClass('hidden');
						$('#save').addClass('hidden');
						$('#edit').addClass('hidden');
						$('#id_objeto').val(obj["id"]);
						$('#id').val('');
						$('#descripcion').val('');						
						$('#permiso').val('');
						$('#codigo').val('');
						
						$("#borradoPopup").modal("show");
					}	
				}else if(accion === 'e'){
					if(id !== null || id !== undefined || id !== "" ){
						$('#edit').removeClass('hidden');
						$('#save').addClass('hidden');
						$('#delete').addClass('hidden');
						$('#descripcion').attr('disabled', false);
						$('#codigo').attr('disabled', false);
						$('#permiso').attr('disabled', false);
						$('#id').val(obj["id"]);
						$('#codigo').val(obj["codigo"]);
						$('#descripcion').val(obj["descripcion"]);
						var permiso = $('.permiso');
						var list_permiso = obj["permisoList"];
						var codigos = [];
						//obtenemos el listado de procesos que tiene la materiaseleccionada para editar
						//buscamos los procesos en el listado del formulario y lo marcamos como seleccionadas.
						$.each(list_permiso, function( index, value ) {
							codigos.push(value.id);
						});
						selec.val(codigos).trigger("change");
						var id1 = obj["id"];
						$("#formModal").modal("show");
					}	
				}else if(accion === 'r'){
					$('#delete').addClass('hidden');
					$('#edit').addClass('hidden');
					$('#save').removeClass('hidden');
					$('#descripcion').attr('disabled', false);
					$('#codigo').attr('disabled', false);
					$('#permiso').attr('disabled', false);
					$('#id').val('');
					$('#codigo').val('');
					$('#descripcion').val('');
					var permiso = $('.permiso');
					permiso.val([]).trigger("change");
					$("#formModal").modal("show");
				}else if(accion === 'v'){
					$('#delete').addClass('hidden');
					$('#edit').addClass('hidden');
					$('#save').addClass('hidden');
					$('#id').val(obj["id"]);
					$('#codigo').val(obj["codigo"]);
					$('#descripcion').val(obj["descripcion"]);
					var permiso = $('.permiso');
					var list_permiso = obj["permisoList"];
					var codigos = [];
					//obtenemos el listado de procesos que tiene la materiaseleccionada para editar
					//buscamos los procesos en el listado del formulario y lo marcamos como seleccionadas.
					$.each(list_permiso, function( index, value ) {
						codigos.push(value.id);
					});
					selec.val(codigos).trigger("change");
					
					$('#descripcion').attr('disabled', true);
					$('#codigo').attr('disabled', true);
					$('#permiso').attr('disabled', true);
					$("#formModal").modal("show");
				}
			}

			</script>
		</div>
	
</body>
</html>
