<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
                           http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-4.2.xsd
                           http://www.springframework.org/schema/tx
		                   http://www.springframework.org/schema/tx/spring-tx.xsd
		                   http://www.springframework.org/schema/jee 
		                   http://www.springframework.org/schema/jee/spring-jee.xsd">


	<!-- **************************************************************** -->
	<!-- RESOURCE FOLDERS CONFIGURATION -->
	<!-- Dispatcher configuration for serving static resources -->
	<!-- **************************************************************** -->
	<mvc:resources location="/img/" mapping="/img/**" />
	<mvc:resources location="/css/" mapping="/css/**" />
	<mvc:resources location="/less/" mapping="/less/**" />
	<mvc:resources location="/js/" mapping="/js/**" />
	<mvc:resources location="/vendor/" mapping="/vendor/**" />
	<mvc:resources location="/bootstrap/" mapping="/bootstrap/**" />
	<mvc:resources location="/build/" mapping="/build/**" />
	<mvc:resources location="/dist/" mapping="/dist/**" />
	<mvc:resources location="/plugins/" mapping="/plugins/**" />


	<!-- **************************************************************** -->
	<!-- SPRING ANNOTATION PROCESSING -->
	<!-- **************************************************************** -->
	<mvc:annotation-driven conversion-service="conversionService" />

	<context:component-scan base-package="py.*" />
	<bean id="contexto" class="py.com.sigj.main.Contexto"/>



	<!-- **************************************************************** -->
	<!-- CONVERSION SERVICE -->
	<!-- Standard Spring formatting-enabled implementation -->
	<!-- **************************************************************** -->
	<bean id="conversionService"
		class="org.springframework.format.support.FormattingConversionServiceFactoryBean">

		<property name="converters">
			<set>
				<bean class="py.com.sigj.converters.TipoClienteConverter" />
				<bean class="py.com.sigj.converters.TipoAbogadoConverter" />
				<bean class="py.com.sigj.converters.MateriaConverter" />
				<bean class="py.com.sigj.converters.PersonaConverter" />
				<bean class="py.com.sigj.converters.EmpleadoConverter" />
				<bean class="py.com.sigj.converters.MovimientoConverter" />
				<bean class="py.com.sigj.converters.EstadoExternoInternoConverter" />
				<bean class="py.com.sigj.converters.TipoDemandaConverter" />
			</set>
		</property>
		
		<property name="formatters">
			<set>
				<bean class="py.com.sigj.util.DateFormatter" />
			</set>
		</property>
	
	</bean>


	<!-- **************************************************************** -->
	<!-- THYMELEAF-SPECIFIC ARTIFACTS -->
	<!-- TemplateResolver <- TemplateEngine <- ViewResolver -->
	<!-- **************************************************************** -->
	<bean id="templateResolver"
		class="org.thymeleaf.spring4.templateresolver.SpringResourceTemplateResolver">
         	
		<property name="prefix" value="/templates/" />
		<property name="suffix" value=".html" />
		<property name="templateMode" value="HTML5" />
	</bean>
	

	<bean id="templateEngine" class="org.thymeleaf.spring4.SpringTemplateEngine">
		<property name="templateResolver" ref="templateResolver" />
	
	</bean>

	<bean class="org.thymeleaf.spring4.view.ThymeleafViewResolver">
		<property name="templateEngine" ref="templateEngine" />
	</bean>

	<!-- JDNI name for EntityManagerFactory is defined in src/main/resources/META-INF/persistence.xml -->
	<jee:jndi-lookup jndi-name="java:jboss/sigj/persistence"
		id="entityManagerFactory" expected-type="javax.persistence.EntityManagerFactory" />

	<bean id="entityManager"
		class="org.springframework.orm.jpa.support.SharedEntityManagerBean">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<tx:jta-transaction-manager />

	<tx:annotation-driven />


	<!-- **************************************************************** -->
	<!-- MESSAGE EXTERNALIZATION/INTERNATIONALIZATION -->
	<!-- Standard Spring MessageSource implementation -->
	<!-- **************************************************************** -->
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="Messages" />
	</bean>
	
</beans>


